h1, p, h2, h3, h4, h5, h6{
  font-family: 'Nunito', sans-serif;
  color: rgb(232, 231, 227)
}

#ol {
	font-size : 24;
	text-align : center;
	color:white;
	font-family: 'Lucide Console', Monospace;
} 

.button {
  background-color: #e55934; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 12px; 
 
}
.button:active {
  background-color: #b7482a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div{
	border: 12px solid #dbb460;
	display:block;
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: #ada38c;
	
}




